@page
@model Cobra.Admin.Areas.Identity.Pages.ForgotPasswordModel
@{
}

<div class="row">
	<div class="col-sm-12">
		<!-- Authentication card start -->

		<form class="md-float-material form-material"
			  asp-route-returnurl="@ViewData["ReturnUrl"]"
			  method="post"
			  autocomplete="off">
			<div class="text-center">
				<img src="~/assets/images/logo.png" alt="logo.png">
			</div>
			<div class="auth-box card">
				<div class="card-block">
					<div class="row m-b-20">
						<div class="col-md-12">
							<h3 class="text-center">Recuperar senha!</h3>
						</div>
					</div>

					<partial name="_CustomValidationSummary" />

					
					<div class="form-group form-primary">
						<input type="text" class="form-control" autofocus asp-for="PModel.Email">
						<span class="form-bar"></span>
						<label class="float-label">Email</label>
						<span asp-validation-for="PModel.Email" class="text-danger"></span>
					</div>


					<div class="row m-t-30">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Entrar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!-- end of form -->
	</div>
	<!-- end of col-sm-12 -->
</div>