@model ChangePasswordViewModel

<!-- Modal -->
<div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addContactLabel">Alterar senha</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post"
					  role="form"
					  data-ajax="true" ,
					  asp-page="Search"
					  asp-page-handler="AlterarSenha"
					  class="form-material">
					<input asp-for="UserId" type="hidden" />
					<partial name="_CustomValidationSummary" />

					<div class="form-group form-default form-static-label">
						<input class="form-control" asp-for="OldPassword">
						<span class="form-bar"></span>
						<label class="float-label" asp-for="OldPassword"></label>
						<span asp-validation-for="OldPassword" class="text-danger"></span>
					</div>

					<div class="form-group form-default form-static-label">
						<input class="form-control" asp-for="NewPassword">
						<span class="form-bar"></span>
						<label class="float-label" asp-for="NewPassword"></label>
						<span asp-validation-for="NewPassword" class="text-danger"></span>
					</div>

					<div class="form-group form-default form-static-label">
						<input class="form-control" asp-for="ConfirmPassword">
						<span class="form-bar"></span>
						<label class="float-label" asp-for="ConfirmPassword"></label>
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-save="modal">Save</button>
			</div>
		</div>
	</div>
</div>