@model SearchUsersViewModel

<div id="SearchUsers">
	<div class="row">
		<div class="col-lg-12">
			<div class="tab-content">
				<div class="tab-pane active" id="personal" role="tabpanel">
					<div class="card">
						<div class="card-header">
							<h5 class="card-header-text">
								Usuários de pesquisa
							</h5>
						</div>
						<div class="card-block">
							<div class="view-info">
								<form 
									  method="post"
									  data-ajax="true"
									  data-ajax-failure="dataAjaxFailure"
									  data-ajax-update="gridcontainer"
									  class="mt-5">
									<partial name="_CustomValidationSummary" />
									<div class="form-group row">
										<label asp-for="TextToFind" class="col-md-2 col-form-label"></label>
										<div class="col-md-10">
											<input asp-for="TextToFind" class="form-control" />
											<span class="optional-label">(Opcional)</span>
										</div>
									</div>
									<div class="form-group row">
										<label asp-for="MaxNumberOfRows" class="col-md-2 col-form-label"></label>
										<div class="col-md-10">
											<input asp-for="MaxNumberOfRows" class="form-control" />
											<span asp-validation-for="MaxNumberOfRows" class="text-danger"></span>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-md-2"></div>
										<div class="col-md-10">
											<h5>Pesquisar</h5>
											<hr />
											<div>
												<div class="form-check">
													<input asp-for="IsPartOfEmail" />
													<label asp-for="IsPartOfEmail"></label>
												</div>
											</div>
											<div>
												<div class="form-check">
													<input asp-for="IsUserId" />
													<label asp-for="IsUserId"></label>
												</div>
											</div>
											<div>
												<div class="form-check">
													<input asp-for="IsPartOfName" />
													<label asp-for="IsPartOfName"></label>
												</div>
											</div>
											<div>
												<div class="form-check">
													<input asp-for="IsPartOfLastName" />
													<label asp-for="IsPartOfLastName"></label>
												</div>
											</div>
											<div>
												<div class="form-check">
													<input asp-for="IsPartOfUserName" />
													<label asp-for="IsPartOfUserName"></label>
												</div>
											</div>
											<div>
												<div class="form-check">
													<input asp-for="IsPartOfLocation" />
													<label asp-for="IsPartOfLocation"></label>
												</div>
											</div>
											<div>
												<div class="form-check">
													<input asp-for="HasEmailConfirmed" />
													<label asp-for="HasEmailConfirmed"></label>
												</div>
											</div>
											<div>
												<div class="form-check">
													<input asp-for="UserIsActive" />
													<label asp-for="UserIsActive"></label>
												</div>
											</div>
											<div>
												<div class="form-check">
													<input asp-for="ShowAllUsers" />
													<label asp-for="ShowAllUsers"></label>
												</div>
											</div>
											<div>
												<div class="form-check">
													<input asp-for="UserIsLockedOut" />
													<label asp-for="UserIsLockedOut"></label>
												</div>
											</div>
											<div>
												<div class="form-check">
													<input asp-for="HasTwoFactorEnabled" />
													<label asp-for="HasTwoFactorEnabled"></label>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="offset-md-1 col-md-11">
											<button type="submit" class="btn btn-primary m-b-0"> Pesquisar </button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>