@model SearchUsersViewModel

<div id="SearchUsers">
	<div class="row">
		<div class="col-lg-12">
			<div class="tab-content">
				<div class="tab-pane active" id="personal" role="tabpanel">
					<div class="card">
						<div class="card-header">
							<h5 class="card-header-text">
								Usuários de pesquisa
							</h5>
						</div>
						<div class="card-block">
							<div class="view-info">
								<form method="post"
									  data-ajax="true"
									  data-ajax-failure="dataAjaxFailure"
									  data-ajax-update="gridcontainer"
									  class="form-material">

									<partial name="_CustomValidationSummary" />

									<div class="form-group form-default form-static-label">
										<input class="form-control" asp-for="TextToFind" placeholder="(Opcional)">
										<span class="form-bar"></span>
										<label class="float-label" asp-for="TextToFind"></label>
									</div>

									<div class="form-group form-default form-static-label">
										<input class="form-control" asp-for="MaxNumberOfRows">
										<span class="form-bar"></span>
										<label class="float-label" asp-for="MaxNumberOfRows"></label>
										<span asp-validation-for="MaxNumberOfRows" class="text-danger"></span>
									</div>

									<div class="form-group row">
										<div class="col-md-10">
											<h5>Pesquisar</h5>
											<hr />
											<div class="form-group form-default">
												<div class="checkbox-zoom zoom-info">
													<label>
														<input type="checkbox" asp-for="IsPartOfEmail">
														<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-info"></i></span>
														<label asp-for="IsPartOfEmail"></label>
													</label>
												</div>
											</div>
											<div class="form-group form-default">
												<div class="checkbox-zoom zoom-info">
													<label>
														<input type="checkbox" asp-for="IsUserId">
														<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-info"></i></span>
														<label asp-for="IsUserId"></label>
													</label>
												</div>
											</div>
											<div class="form-group form-default">
												<div class="checkbox-zoom zoom-info">
													<label>
														<input type="checkbox" asp-for="IsPartOfName">
														<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-info"></i></span>
														<label asp-for="IsPartOfName"></label>
													</label>
												</div>
											</div>
											<div class="form-group form-default">
												<div class="checkbox-zoom zoom-info">
													<label>
														<input type="checkbox" asp-for="IsPartOfLastName">
														<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-info"></i></span>
														<label asp-for="IsPartOfLastName"></label>
													</label>
												</div>
											</div>
											<div class="form-group form-default">
												<div class="checkbox-zoom zoom-info">
													<label>
														<input type="checkbox" asp-for="IsPartOfUserName">
														<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-info"></i></span>
														<label asp-for="IsPartOfUserName"></label>
													</label>
												</div>
											</div>
											<div class="form-group form-default">
												<div class="checkbox-zoom zoom-info">
													<label>
														<input type="checkbox" asp-for="HasEmailConfirmed">
														<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-info"></i></span>
														<label asp-for="HasEmailConfirmed"></label>
													</label>
												</div>
											</div>
											<div class="form-group form-default">
												<div class="checkbox-zoom zoom-info">
													<label>
														<input type="checkbox" asp-for="UserIsActive">
														<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-info"></i></span>
														<label asp-for="UserIsActive"></label>
													</label>
												</div>
											</div>
											<div class="form-group form-default">
												<div class="checkbox-zoom zoom-info">
													<label>
														<input type="checkbox" asp-for="ShowAllUsers">
														<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-info"></i></span>
														<label asp-for="ShowAllUsers"></label>
													</label>
												</div>
											</div>
											<div class="form-group form-default">
												<div class="checkbox-zoom zoom-info">
													<label>
														<input type="checkbox" asp-for="UserIsLockedOut">
														<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-info"></i></span>
														<label asp-for="UserIsLockedOut"></label>
													</label>
												</div>
											</div>
											<div class="form-group form-default">
												<div class="checkbox-zoom zoom-info">
													<label>
														<input type="checkbox" asp-for="HasTwoFactorEnabled">
														<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-info"></i></span>
														<label asp-for="HasTwoFactorEnabled"></label>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="offset-md-1 col-md-11">
											<button type="submit" class="btn btn-primary m-b-0"> Pesquisar </button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>