@model PagedUsersListViewModel

@{
	ViewData["Title"] = "Gerenciamento de Usuários";
}

<partial name="_SearchUsers" model="new SearchUsersViewModel()" />

@if (Model.Users.Any())
{
	foreach (var user in Model.Users)
	{
		<div id="usercard-@user.Id">
			<div class="card mt-5">
				<div class="card-body">
					<div>
						<div class="row">
							<div class="col-md-12">
								<h2>
									<a asp-page="Item" asp-page-handler="Editar" asp-route-id="@user.Id">@user.DisplayName()</a>
								</h2>
							</div>
						</div>
						<div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	}
}
else
{
	<div class="alert alert-warning">Nenhum usuário foi encontrado.</div>
}