@model PagedUsersListViewModel

@{
	ViewData["Title"] = "Gerenciamento de Usuários";
}

<partial name="_SearchUsers" model="new SearchUsersViewModel()" />

@if (Model!= null && Model.Users.Any())
{
	foreach (var user in Model.Users)
	{
		 <div id="usercard-@user.Id">
            <partial name="_UserCardItem"
                     model="new UserCardItemViewModel { User = user, ShowAdminParts = true, Roles = Model.Roles, ActiveTab = UserCardItemActiveTab.UserInfo }" />
        </div>
	}
}
else
{
	<div class="alert alert-warning">Nenhum usuário foi encontrado.</div>
}