@model UserCardItemViewModel

@{
	var user = Model.User;
	var adminPartIsActive = Model.ActiveTab == UserCardItemActiveTab.UserAdmin ? "active" : "";
	var userPartIsActive = Model.ActiveTab == UserCardItemActiveTab.UserInfo ? "active" : "";
}

<tr id="usercard-@user.Id">
	<th scope="row">
		@user.UserName
	</th>
	<td>
		 
	</td>
	<td>@user.DisplayName()</td>
	<td>
		@if (user.IsEmailPublic)
		{
			@user.Email
		}
	</td>
	<td class="text-center">
		@if (user.IsActive)
		{
			<span class="badge badge-success badge-pill text-white">Ativado</span>
		}
		else
		{
			<span class="badge badge-warning badge-pill text-white">Desactivado</span>
		}
	</td>
	<td class="text-center">
		@if (user.EmailConfirmed)
		{
			<span class="badge badge-success badge-pill text-white">Confirmado</span>
		}
		else
		{
			<span class="badge badge-warning badge-pill text-white">Não confirmado</span>
		}
	</td>
	<td class="text-center">
		@if (user.LockoutEnabled)
		{
			<span class="badge badge-warning badge-pill text-white">Conta bloqueada</span>
		}
		else
		{
			<span class="badge badge-success badge-pill text-white">Conta não bloqueada</span>
		}
	</td>
	<td>
		@if (user.LastVisitDateTime != null)
		{
			@user.LastVisitDateTime.Value
		}
	</td>
</tr>
