
<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] - Administração - Cobra Informática</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="_NewPageStyle" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>
    <!-- [ Pre-loader ] end -->

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <!-- [ Header ] start -->
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <partial name="_NavbarMobileMenu" />
                        <partial name="_NavbarHeaderLogo" />
                    </div>

                    <div class="navbar-container container-fluid">
                        <partial name="_NavbarNavLeft" />
                        <partial name="_NavbarNavRight" />
                    </div>
                </div>
            </nav>
            <!-- [ Header ] end -->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    <!-- [ navigation menu ] start -->
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="pcoded-navigation-label">Navegação</div>
                            <partial name="_NavigationMenuList" />
                        </div>
                    </nav>
                    <!-- [ navigation menu ] end -->

                    <div class="pcoded-content">

                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            @await RenderSectionAsync("PageBlock", required: false)
                        </div>
                        <!-- [ breadcrumb ] end -->

                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <!-- Default card start -->
                                                @await RenderSectionAsync("Message", required: false)
                                                @RenderBody()
                                                @await RenderSectionAsync("Modal", required: false)
                                                <!-- Default card end -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_NewPageScripts" />
    @await RenderSectionAsync("CustomsScripts", required: false)
</body>
</html>
