<a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
    <i class="ti-menu"></i>
</a>
<a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
    <i class="feather icon-toggle-right"></i>
</a>